<!doctype html>
<title>Sentiment Demo</title>
<form action="{{ url_for('index_page') }}" method=post>
    <dl>
        <dt>Enter product review: <br>
        <dd><textarea name=text rows=5 cols=40>{{ text }}</textarea>
        <dd><input type=submit value="Rate">
    </dl>
</form>

<br>Sentiment prediction:<br>
{{ prediction_message }}
