<!doctype html>
<title>Sentiment Demo</title>
<form action="{{ url_for('index_page') }}" method=post>
    <dl>
        <dt>Введите отзыв: <br>
        <dd><textarea name=text rows=5 cols=40>{{ text }}</textarea>
        <dd><input type=submit value="Оценить отзыв">
    </dl>
</form>

<br>Оценка отзыва:<br>
{{ prediction_message }}
